# =========================
# HEMTT
# =========================
*.biprivatekey
*.hemttprivatekey
*.pbo
*.bisign
.hemttout
hemtt
hemtt.exe
references/
*.zip

# =========================
# Python
# =========================
__pycache__/

# =========================
# Dependencies / Scripts
# =========================
!.sh
!.bat
!requirements.txt

# =========================
# System / Environment
# =========================
build/.env
!.env.example
*.code-workspace
.vscode/
.env
.agents

# =========================
# Build artifacts / Logs
# =========================
*.log
*.rpt
*.lock

# =========================
# Documentation / Wiki / Text
# =========================
*.md
*.txt
*.claude
*.codex
!README*.md
logs/
!batch/worlds.txt
!batch/render_worlds.txt

# =========================
# General & Subprojects
# =========================
reference_files/
subprojects/ocap-renderterrain/reference_files/
subprojects/grad_meh/build/
subprojects/grad_meh/install/bin
releases/@root_amet

# Allow git to look into the subprojects directory structure
!subprojects/
!subprojects/*/
!subprojects/*/intercept/
!subprojects/*/intercept/tools/
!subprojects/*/intercept/rv/
!.github/PULL_REQUEST_TEMPLATE.md

# =========================
# Explicit File Whitelists
# =========================
# Overriding general extension blocks (.md, .txt, .exe, .dll, .json)
!**/docs/
!**/docs/**/*
!**/unary_definitions.txt
!**/colorrelief_bk.txt
!**/CMakeUserPresets.json
!**/armake_w64.exe
!**/CMakeInclude.txt
