# =========================
# HEMTT
# =========================
*.biprivatekey
*.hemttprivatekey
*.pbo
*.zip
*.bisign
.hemttout
hemtt
hemtt.exe
releases/**/*
references/**/*

# =========================
# Documentation / Wiki / Text
# =========================
*.md
*.txt
*.claude
*.claude/**/*
*.codex
*.codex/**/*
!README*.md
logs/**/*
!batch/worlds.txt
!docs/**/*
!CMakeLists.txt

# =========================
# Python
# =========================
__pycache__/

# =========================
# Dependencies / Scripts
# =========================
!.sh
!.bat
!requirements.txt

# =========================
# System / Environment
# =========================
build/.env
!.env.example
*.code-workspace
.vscode/**/*
.env

# =========================
# Build artifacts / Logs
# =========================
*.log
*.rpt
reference_files/**/*
