# =========================
# HEMTT
# =========================
*.biprivatekey
*.hemttprivatekey
*.pbo
*.zip
*.bisign
.hemttout
hemtt
hemtt.exe
releases/
references/

# =========================
# Python
# =========================
__pycache__/

# =========================
# Dependencies / Scripts
# =========================
!.sh
!.bat
!requirements.txt

# =========================
# System / Environment
# =========================
build/.env
!.env.example
*.code-workspace
.vscode/
.env

# =========================
# Build artifacts / Logs
# =========================
*.log
*.rpt

# =========================
# Documentation / Wiki / Text
# =========================
*.md
*.txt
*.claude
*.codex
!README*.md
logs/
!batch/worlds.txt

# =========================
# General & Subprojects
# =========================
reference_files/
subprojects/ocap-renderterrain/reference_files/

# Allow git to look into the subprojects directory structure
!subprojects/
!subprojects/*/
!subprojects/*/intercept/
!subprojects/*/intercept/tools/
!subprojects/*/intercept/rv/

# =========================
# Explicit File Whitelists
# =========================
# Overriding general extension blocks (.md, .txt, .exe, .dll, .json)
!**/docs/
!**/docs/**/*
!**/unary_definitions.txt
!**/colorrelief_bk.txt
!**/CMakeUserPresets.json
!**/intercept_x64.dll
!**/armake_w64.exe
!**/CMakeInclude.txt
